<% provide(:title, t(".title")) %>

<h1><%= t(".title") %></h1>

<div class="center jumbotron"><h1><%= t(".home_welcome_text") %></h1>
    <h2>
        <%= t(".home_welcome_description_html") %>
    </h2>
    <%= link_to t(".signup_action"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
      

